@charset "utf-8";
*{
    padding: 0px;
    margin: 0px;
}
html {
	  background-image: url(../Media/background.jpg);
}
h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	color: black;
	text-align: center;
	font-size: 75px;
    opacity: 0.7;
}
h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	color: black;
	text-align: center;
	font-size: 50px;
    opacity: 0.7;
}
a {
	font-family: "Arial Black", Gadget, sans-serif;
	color: dimgray;
	font-size: 30px;
	text-decoration: none;
}

.aSecundario {/* Utilizado nos menus dropdown (por isso chamo de secundario) */
	font-family: "Arial Black", Gadget, sans-serif;
	color: dimgray;
	font-size: 24px;
	text-decoration: none;
}
p {
	font-family: "Arial Black", Gadget, sans-serif;
	color: darkslategray;
	font-size: 25px;
    opacity: 0.7;
}
#etc {
    font-family: "Arial Black", Gadget, sans-serif;
    color: dimgray;
    text-decoration: overline;
    text-decoration-style: double;
    text-align: right;
    opacity: 0.7;
}
#ehOtitulo {
    font-family: "Arial Black", Gadget, sans-serif;
    color: dimgray;
    text-align: center;
    font-size: 50px;
    opacity: 0.7;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 1;
}

li {
    float: left;
}

li a {
    display: block;
    color: dimgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {   /* Muda a cor do link para #111 (preto) quando o mouse passa em cima */
    background-color: #111;
}
/* apresentação de slides -inicio- */
.ehoSlide {
	display:none;
}
.content{
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
/* CSS dos slides -fim- */
/* CSS do submenu -inicio- */
.dropdown div {
    display: none;
}
.dropdown:hover div {
    display: block;
}
/* CSS do submenu -fim- */
/* EH O RANGELZIN O BRABO ORIGINAL */
