@charset "utf-8";
/* CSS Document */
/* esse css é somente para as listas de produtos*/
html {
	  background-image: url(../Media/background.jpg);
}
h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	color: black;
	text-align: center;
	font-size: 100px;
}
h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	color: black;
	text-align: center;
	font-size: 50px;
}
a {
	font-family: "Arial Black", Gadget, sans-serif;
	color: darkslategray;
	font-size: 30px;
	text-decoration: none;
}
p {
	font-family: "Arial Black", Gadget, sans-serif;
	color: darkslategray;
	font-size: 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 1;
}

li {
    float: left;
}

li a {
    display: block;
    color: dimgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
